# Turtle
Turtle/WTF/Config.wtf
Turtle/WTF/Account/ACCOUNTNAME/cache.md5
Turtle/WTF/Account/ACCOUNTNAME/macros-cache.txt
Turtle/WTF/Account/ACCOUNTNAME/macros-local.txt
Turtle/WTF/Account/ACCOUNTNAME/SavedVariables/aux-addon.lua
Turtle/WTF/Account/ACCOUNTNAME/SavedVariables/aux-addon.lua.bak
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/camera-settings.txt
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/chat-cache.txt
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/bindings-cache.wtf
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/macros-cache.txt
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/macros-local.txt
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/SavedVariables/CleanChat.lua
Turtle/WTF/Account/ACCOUNTNAME/Nordanaar/CHARACTERNAME/SavedVariables/CleanChat.lua.bak
